# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
*       @ching-kuo @tico88612

/docs/  @hwchiu @pichuang @ching-kuo @tico88612 @steveyiyo @ydFu